.quizOneStyle {
    /* font-family: ; */
    background-image: url(./assets/sbhome.jpg);
}

.quizTwoStyle {
    /* font-family: bikini bottom themed - yep file - help; */
    background-image: url(./assets/bknibackg.jpg);
}

.quizThreeStyle {
    /* font-family: ; */
    background-image: url(./assets/blob.jpeg);
}

.quizFourStyle {
    /* font-family: ; */
    background-image: url(./assets/bknibackg.jpg);
}



