footer {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.headDiv {
    background-color: red;
}

.toe {
    max-height: 50px;
    min-height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.scores {
    display: flex;
    flex-direction: column;
}

.yourQuiz {
    display: flex;
    flex-direction: row;
}

.quizOne {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
.quizTwo {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}